
<!--<div class="card-container">

    <a class="card" target="_blank" rel="noopener" href="https://material.angular.io">
        <span>Python</span>
    </a>

    <a class="card" target="_blank" rel="noopener" href="https://material.angular.io">
        <span>Python</span>
    </a>

    <a class="card" target="_blank" rel="noopener" href="https://material.angular.io">
        <span>Python</span>
    </a>


</div>-->


<!--<div class="main">
    <h1>Cursos Disponibles</h1>
    <ul class="cards">
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="../../../assets/imagenes/javascript.png"></div>
          <div class="card_content">
          
          
            <p class="card_text">Lenguaje de programación del lado del cliente, potente para desarrollo de aplicaciones y páginas web.</p>
            <button class="btn card_btn">Ver más</button>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="../../../assets/imagenes/javascript.png"></div>
          <div class="card_content">
            <h2 class="card_title">Javascript</h2>
            <p class="card_text">Lenguaje de programación del lado del cliente, potente para desarrollo de aplicaciones y páginas web.</p>
            <button class="btn card_btn">Ver más</button>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="../../../assets/imagenes/javascript.png"></div>
          <div class="card_content">
            <h2 class="card_title">Javascript</h2>
            <p class="card_text">Lenguaje de programación del lado del cliente, potente para desarrollo de aplicaciones y páginas web.</p>
            <button class="btn card_btn">Ver más</button>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="../../../assets/imagenes/javascript.png"></div>
          <div class="card_content">
            <h2 class="card_title">Javascript</h2>
            <p class="card_text">Lenguaje de programación del lado del cliente, potente para desarrollo de aplicaciones y páginas web.</p>
            <button class="btn card_btn">Ver más</button>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="../../../assets/imagenes/javascript.png"></div>
          <div class="card_content">
            <h2 class="card_title">Javascript</h2>
            <p class="card_text">Lenguaje de programación del lado del cliente, potente para desarrollo de aplicaciones y páginas web.</p>
            <button class="btn card_btn">Ver más</button>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="../../../assets/imagenes/javascript.png"></div>
          <div class="card_content">
            <h2 class="card_title">Javascript</h2>
            <p class="card_text">Lenguaje de programación del lado del cliente, potente para desarrollo de aplicaciones y páginas web.</p>
            <button class="btn card_btn">Ver más</button>
          </div>
        </div>
      </li>
    </ul>
  </div>-->
  


  <div class="main">
    
    <h1>Cursos Disponibles</h1>
    <ul class="cards">

      <li class="cards_item"  *ngFor="let item of cursos; let i = index">
        <div class="card" >
          <div class="card_image"><img src={{item.url}}></div>
          <div class="card_content">
           <li>
            <h2 class="card_title">{{ item.name }}</h2> 
           </li> 
          
            <p class="card_text">{{item.descripcion}}</p>
            <button class="btn card_btn" (click)="accion(item.name)" >Ver más</button>
          </div>
        </div>
      </li>

    </ul>


  </div>

  <app-infocurso [parent]="dato"></app-infocurso>