<div class="container">

    <div class="main-video">

            <div class="video">

                    <video src="../../../assets/videos/video.mp4" id="videoPrincipal"  controls muted autoplay ></video>
                    <h3 class="title" id="tituloVideo">{{pruebas}}</h3>
                <img src="../../../assets/imagenes/imagenpdf.png" width="100px" style="display:none">
            </div>

    </div>

    <div class="video-list">

        <div class="vid active" >
            <video src="../../../assets/videos/video.mp4" muted (click)="enviar($event.target)" id="video1"></video>
            <h3 class="title">video pruebas 1</h3>
        </div>

        <div class="vid" >
            <video src="../../../assets/videos/video.mp4" muted (click)="enviar($event.target)" id="video2"></video>
            <h3 class="title">video pruebas 2</h3>
        </div>

        <div class="vid">
            <video src="../../../assets/videos/video.mp4" muted (click)="enviar($event.target)" id="video3"></video>
            <h3 class="title">video pruebas 3</h3>
        </div>

        <div class="vid">
            <video src="../../../assets/videos/video.mp4" muted (click)="enviar($event.target)" id="video4"></video>
            <h3 class="title">video pruebas 4</h3>
        </div>

        <div class="vid">
            <video src="../../../assets/videos/video.mp4" muted (click)="enviar($event.target)" id="video5"></video>
            <h3 class="title">video pruebas 5</h3>
        </div>

        <div class="vid" >
            <video src="../../../assets/videos/video.mp4" muted (click)="enviar($event.target)" id="video6"></video>
            <h3 class="title">video pruebas 6</h3>
        </div>

        <div class="vid" >
            <video src="../../../assets/videos/video.mp4" muted (click)="enviar($event.target)" id="video7"></video>
            <h3 class="title">video pruebas 7</h3>
        </div>

        <div class="vid">
            <video src="../../../assets/videos/video.mp4" muted (click)="enviar($event.target)" id="video8"></video>
            <h3 class="title">video pruebas 8</h3>
        </div>
      
    </div>

   

    

</div>