.titulo{

    color: blue;
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#173C8D;
    text-align: center;
}
div{
    border-radius: 5px;
}


.contenedor{
  margin-top: 10px;
    width:100%;
    height:100px;
    display: flex;
    justify-content: center;


}
.contenido{
    height:100px;
    width:15%;
    float:left;
    margin: 10px;
    cursor:pointer;
 
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
}


  

p{
    margin-top: 5%;
    font-size: 20px;
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    color:#173C8D;
   
    
    }
    
@media (max-width: 1000px) {


    .contenedor{
 
       
        width:100%;
        height:100px;
        display: inline-table;
        justify-content: center;
    }
    .contenido{
        height:80px;
        width:400px;
        cursor:pointer;
        margin: 10px;
    }
  }
  
 