<h2 class="titulo">Tu decides por donde empezar</h2>

<p>Especialízate en el tema que tu prefieras</p>

<div class="contenedor">
	<!--<div class="contenido"  style="background-color: aqua;"  [routerLink]="['/detalle-cursos']" (click)="onSendEvent('javascript')"><p>Javascript</p>&nbsp;</div>-->
	<div class="contenido"  style="background-color: aqua;" (click)="onSendEvent('javascript')"><p>Javascript</p>&nbsp;</div>
	<div class="contenido" style="background-color:chocolate;"  (click)="onSendEvent('css')"><p>Css</p>&nbsp;</div>
	<div class="contenido" style="background-color:cadetblue;"  (click)="onSendEvent('html')"><p>Html 5</p>&nbsp;</div>
	<div class="contenido" style="background-color:cornflowerblue;" (click)="onSendEvent('angular')"><p>Angular</p>&nbsp;</div>

</div>

<div class="contenedor">
	<div class="contenido" style="background-color:yellow;" (click)="onSendEvent('basedatos')"><p>Bases de datos</p>&nbsp;</div>
	<div class="contenido" style="background-color:steelblue;" (click)="onSendEvent('php')"><p>PHP</p>&nbsp;</div>
	<div class="contenido" style="background-color:violet;" (click)="onSendEvent('python')"> <p>Python</p>&nbsp;</div>
	<div class="contenido" style="background-color:crimson;" (click)="onSendEvent('node')"><p>Node js</p>&nbsp;</div>

</div>

<div class="contenedor">
	<div class="contenido" style="background-color:teal;"><p>Vue js</p>&nbsp;</div>
	<div class="contenido" style="background-color:darkgoldenrod"><p>React</p>&nbsp;</div>
	<div class="contenido" style="background-color:springgreen;"><p>Git & GitHub</p>&nbsp;</div>
	<div class="contenido" style="background-color:darkkhaki;"><p>Django</p>&nbsp;</div>

</div>



