


<nav >
  <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
          <i class="fas fa-bars"></i>
        </label>
       <div class="logoP">
        <a href="#" class="enlace">
          <img src="../../../assets/imagenes/01LOGO.png" alt="logo" class="logo"/>
      </a>
    </div>

  <ul>
    
  
    <li  [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/']" >Inicio</a></li>
    <!--<li [routerLinkActive]="['active']"><a [routerLink]="['/cursos']" >Nuestros Cursos </a></li>-->
    <li [routerLinkActive]="['active']"><a [routerLink]="['/detalle-cursos']">Cursos</a></li>
    <li [routerLinkActive]="['active']"><a [routerLink]="['/guia']">Guía de inicio </a></li>
    <li [routerLinkActive]="['active']"><a [routerLink]="['/foro']">Foro </a></li>
    <li *ngIf="!authService.loggedIn();" [routerLinkActive]="['seleccionado']"><a [routerLink]="['/sesion']">Iniciar Sesión </a></li>
    <!--<li  *ngIf="authService.loggedIn();"><a  style="cursor:pointer;" (click)="authService.logout()">Cerrar Sesión </a></li>-->
    <li  *ngIf="authService.loggedIn();"><a style="cursor:pointer;">{{dato}}</a></li>
    <li  *ngIf="authService.loggedIn();"><a  style="cursor:pointer;" (click)="cerrarSesion()">Cerrar Sesión</a></li>
    
   

   

  </ul>
</nav>




