<!--<header class="titulo_principal">
  <h3 class="titulo_principal">Multimedia VIU suscríbete es GRATIS</h3>
</header>-->
<div class="top-header  d-none d-lg-block">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-5 offset-xl-3 col-lg-6 col-md-7 col-12 col-sm-5">
          <div class="header-top-left"> <span class="d-m-none">
                                <i class="far fa-envelope"></i>
                                <a href="#">info@viu.es</a>
                            </span> <span class="d-m-none">
                                <i class="fal fa-phone"></i>
                                <a href="#">+34 961 924 950</a>
                            </span> </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-12 col-12 col-sm-12">
          <div class="header-top-right">
            <div class="header-top-right-flag f_right">
              <ul>
                                <li class="language-dropdown dropdown"> <a href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ES
                                    <i class="fas fa-arrow-down"></i></a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> <a class="dropdown-item" href="#">English</a> <a class="dropdown-item" href="#">Chinese</a> <a class="dropdown-item" href="#">Spanish</a> <a class="dropdown-item" href="#">Arabic</a> </div>
                                </li>
                            </ul>
            </div>
            <div class="header-top-right-social f_right d-md-block">
              <ul>
                <li>
                  <a href="#"> <i class="fab fa-facebook-f"></i> </a>
                </li>
                <li>
                  <a href="#"> <i class="fab fa-twitter"></i> </a>
                </li>
                <li>
                  <a href="#"> <i class="fab fa-instagram"></i> </a>
                </li>
                <li>
                  <a href="#"> <i class="fab fa-linkedin"></i> </a>
                </li>
                <li>
                  <a href="#"> <i class="fab fa-youtube"></i> </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>