

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.enlace{
  position: absolute;
  padding: 20px 50px;
}
.logo{
  height: 40px;
 
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: #fff;
  font-size: 18px;
  padding: 7px 12px;
  border-radius: 3px;
  text-transform: uppercase;
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.checkbtn{
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
section{
  
  
  background-position: center center;
  height: calc(100vh - 80px);
}





/**/



.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper > * {
  padding: 20px;
}

.page-header {
  background: linear-gradient(to bottom left, #2196f3 40%, white 200%);
}

.page-main {
  flex-grow: 1;
  
}

.page-footer {
  background: linear-gradient(to bottom left, #2196f3 40%, white 200%);
}


#contenedor {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
  border:groove;
  height: auto;
}




    .autor{
      margin-top: 20px;
      margin-bottom: 20px;
          text-align: center;
          color: aliceblue;
      }
      
      p a{
          color: aliceblue;
      
      }
      

      