

	<div class="slide">
    <div class="slide-inner2">
    
      <p> Se sabe de la necesidad de nuevos programadores a nivel mundial, actualmente ha aumentado la demanda por los programadores pero también se observa que hay un deficit en este campo.<br>
      <br>Con esta serie de videotutoriales se busca enfocar a los interesados en las tecnologias más demandantes actualmente para el desarrollo web.<br>
    <br>Lo único que se necesita es mostrar el interés por aprender e invertir un tiempo para aprender estas tecnologías.<br><br><br>

  
  Aprende desde cero.
  <br><br>
  Prepárate para el mercado laboral.<br><br>
  refuerza tus conocimientos.
</p>
   
              
      </div>


    <div class="slide-inner">
      <input class="slide-open" type="radio" id="slide-1" 
            name="slide" aria-hidden="true" hidden="" checked="checked">
      <div class="slide-item">
        <img src="../../../assets/imagenes/pruebas.png">
      </div>
      <input class="slide-open" type="radio" id="slide-2" 
            name="slide" aria-hidden="true" hidden="">
      <div class="slide-item">
        <img src="../../../assets/imagenes/amarillo.png">
      </div>
      <input class="slide-open" type="radio" id="slide-3" 
            name="slide" aria-hidden="true" hidden="">
      <div class="slide-item">
        <img src="../../../assets/imagenes/azul.png">
      </div>


   
      <label for="slide-3" class="slide-control prev control-1">‹</label>
      <label for="slide-2" class="slide-control next control-1">›</label>
      <label for="slide-1" class="slide-control prev control-2">‹</label>
  
      <label for="slide-3" class="slide-control next control-2">›</label>
      <label for="slide-2" class="slide-control prev control-3">‹</label>
      <label for="slide-1" class="slide-control next control-3">›</label>
      <ol class="slide-indicador">
        <li>
          <label for="slide-1" class="slide-circulo">•</label>
        </li>
        <li>
          <label for="slide-2" class="slide-circulo">•</label>
        </li>
        <li>
          <label for="slide-3" class="slide-circulo">•</label>
        </li>

      </ol>
    </div>
  </div>

